i.fa{
	padding-right: 5px;
}
div.group, table{
	/*max-width: 780px !important;*/
	margin: 0 auto;
}
.headerTitle{
	margin: 20px 0;
}
a.btn{
	margin: 3px;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  text-align: center;
  padding:10px;
}

.jumbotron h1{
	font-size: 1.8em;
}
.jumbotron p{
	font-size: 1.1em;
}
.jumbotron img{
	max-width: 100px;
}
div.logo{
	margin-top: 20px;
	text-align: right;
}
.navbar-inverse{
	background-color: #41295a;
	background-image: linear-gradient(to bottom,#41295a 0,#2F0743 100%);
}
.navbar-inverse .navbar-brand{
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
	background-color: #301C46;
	background-image: linear-gradient(to bottom,#301C46 0,#351F4E 100%)
}
.footer img:hover{
	opacity: 0.8;
}
