i.fa{
	padding-right: 5px;
}
div.group, table{
	max-width: 780px !important;
	margin: 0 auto;
}
.headerTitle{
	margin: 20px 0;
}
a.btn{
	margin: 3px 0;
}
.imgLink{
	margin-right: 20px;
}

.footer {
	width: 100%;
	/* Set the fixed height of the footer here */
	background-color: #f5f5f5;
	text-align: center;
	padding:10px;
}
.jumbotron{
	margin-top: 20px;
}

.jumbotron h1{
	font-size: 1.8em;
}
.jumbotron p{
	font-size: 1.1em;
}
.jumbotron img{
	max-width: 100px;
	max-height: 100px;
}
div.logo{
	margin-top: 20px;
	text-align: right;
}
.navbar-inverse{
	background-color: #41295a;
	background-image: linear-gradient(to bottom,#41295a 0,#2F0743 100%);
}
.navbar-inverse .navbar-brand{
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
	background-color: #301C46;
	background-image: linear-gradient(to bottom,#301C46 0,#351F4E 100%);
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	background-color: #301C46;
	background-image: linear-gradient(to bottom,#301C46 0,#351F4E 100%) !important;
}

.footer{
	margin-top: 25px;
	padding:50px 0;
}
.footer img:hover{
	opacity: 0.8;
}

.titleCanales{
	font-weight: bold;
}


.media-body p{
	color: #A1A1A1;
}
.media-body p:hover{
	text-decoration: none;
}
.carrerasHome:hover{
	text-decoration: none;
}
.datosGeneral{
	display: block;
	clear: both;
}
.headerTitle{
	clear: both;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media only screen and (max-width : 480px) {
	.jumbotron{
		text-align: center;
	}
	.jumbotron p{
		display: none;
	}
	.jumbotron img{
		max-width: 50px;
	}
	.jumbotron h1{
		font-size: 1.3em;
		text-align: left;
	}
	.descriptionHome{
	display: block !important;
	text-align: left;
	font-size: 0.7em !important;
}
	
}

/* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    	.titleCanales{
			display: none;
		}
    }

@media (min-width: @screen-sm-min) {
	.jumbotron{
		text-align: center;
	}
	.jumbotron p{
		display: none;
	}
	.jumbotron img{
		max-width: 50px;
	}
	div.logo{
		margin-top: 30px;
		text-align: center;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }